Table of Contents

# 1  Settings

## 1.1  Load data
## 1.2  각종 설정들
### 1.2.1  Mapbox, DeckGL
### 1.2.2  Plotly
## 1.3  Helper func 정의
# 2  Data EDA
## 2.1  전반적인 일일 이용수준은 어떨까?
### 2.1.1  이용과 운행
#### 2.1.1.1  이용횟수
### 2.1.2  노선과 정류장
#### 2.1.2.1  정류장 분포
#### 2.1.2.2  노선분포
#### 2.1.2.3  노선당 정류장 수 분포
#### 2.1.2.4  정류장당 노선 수 분포
## 2.2  어느 시간대에 버스를 많이 탈까?
### 2.2.1  시간대별 이용량
## 2.3  출퇴근 시간에 어디에서 어떤 버스를 많이탈까?
### 2.3.1  어디 정류장에서 많이 타고 내릴까?
#### 2.3.1.1  이용량 분포
#### 2.3.1.2  출근시간
#### 2.3.1.3  퇴근시간
#### 2.3.1.4  이용 기준 topn 정류장
#### 2.3.1.5  승하차 중심에 따라 정류장을 분류해볼 수 있지 않을까?
### 2.3.2  어떤 노선을 주로 이용할까?
#### 2.3.2.1  이용량 분포
#### 2.3.2.2  topn 노선
#### 2.3.2.3  출근시간

In [1]:
## Settings
### Load data

In [1]:
import os

# for data aggregation.
import numpy as np
import pandas as pd
import geopandas as gpd

# for data visualisation.
import missingno as msno
#import plotly_express as px
import plotly.plotly as py 
import cufflinks as cf 
cf.go_offline(connected=True)
cf.set_config_file(theme='polar')

from deckgljupyter import Layer as deckgl
from tqdm import tqdm_notebook

import warnings
warnings.filterwarnings('ignore')

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
#df_usage = pd.read_pickle('data/df_usage_all.pkl')
#df_route_station = pd.read_pickle('data/df_route_station_all.pkl')
#df_route_info = pd.read_pickle('data/df_route_info.pkl')

In [4]:
df_route_station = pd.read_csv('../data/PJT001_stations_table.csv')
df_route_station.columns = ['STATION_ID','시군명','STATION_NM','정류소영문명','정류소번호','중앙차로여부',
                            '관할관청','위치','MAP_LAT','MAP_LON','모바일정류장ID','이비카드정류장ID']

df_route_info = pd.read_csv('../data/PJT001_routestationinfo.csv')
df_route_info.columns = ['seq','ROUTE_ID','ROUTE_NM','SEQ','STATION_NM','STATION_ID','mobile_id']
df_route_info_raw_org=df_route_info.copy()

df_tripchain=pd.read_csv('../data/PJT001_TripChain.csv')

columns_0 =[]
for col in df_route_station.columns: 
    columns_0.append(col.replace('||', ''))
columns=[]
for col in columns_0: 
    columns.append(col.replace("'",''))
df_route_station.columns=columns
df_route_station_org=df_route_station.copy()

df_route_station_org=pd.merge(df_route_info_raw_org,df_route_station_org, how='left')
df_route_station_raw_org=pd.merge(df_route_info_raw_org,df_route_station_org, how='left')

col = ['ROUTE_ID', 'ROUTE_NM', 'ROUTE_TP', '시작정류장', '종료정류장', 'PERM_VOL', 'COM_NM', 'ADMIN_NM']
route_info_start=[]
route_info_end = []
ROUTE_ID=set(df_route_info['ROUTE_ID'])
for r in ROUTE_ID:
    route_info=df_route_info_raw_org[df_route_info_raw_org.iloc[:,1]==r].sort_values(["SEQ"], ascending=[True])
    route_info_start.append(route_info.head(1).iloc[0])
    route_info_end.append(route_info.tail(1).iloc[0])

route_info_start_end=pd.merge(pd.DataFrame(route_info_start)[['seq','ROUTE_ID','STATION_ID','SEQ','STATION_NM']],pd.DataFrame(route_info_end)[['ROUTE_ID','STATION_ID','SEQ','STATION_NM']],on='ROUTE_ID')
route_info_start_end.columns=['SEQ','ROUTE_ID', 'STATION_ID_start', 'SEQ_start','시작정류장', 'STATION_ID_end', 'SEQ_end', '종료정류장']
df_route_info_org=route_info_start_end.copy()


#df_route_info_raw_org.head()
#df_route_info_org.head()

#df_route_station_org.head()

#동탄면에 있는 모든 정류장
route_station = df_route_station_org.loc[df_route_station_org['위치']=='경기도 화성시 동탄면',:]#109개
df_route_station=route_station
#동탄면에 있는 정류장 각각에 지나는 루트 
STARION_ROUTE = []
STATION_ID=set(route_station['STATION_ID'])
for r in STATION_ID:
    route_info=df_route_info[df_route_info['STATION_ID']==r]
    STARION_ROUTE.append([r,set(route_info['ROUTE_ID'])])
STARION_ROUTE=pd.DataFrame(STARION_ROUTE)
STARION_ROUTE.columns=['STATION_ID', 'ROUTE_ID_set']

#동탄면에 있는 정류장을 하나라도 지나는 모든 루트
ROUTE=pd.merge(route_station[['STATION_ID']],df_route_info,how='left') #528개
ROUTE=pd.DataFrame(ROUTE.dropna()) #514개 (14개는 정류장은 있는데 루트가 없음)
df_route_info_raw=ROUTE.drop_duplicates().copy() #중복 행 발견, 제거 후 469개

# 동탄면 안에서 출발 종료 정류장 정보
col = ['ROUTE_ID', 'ROUTE_NM', 'ROUTE_TP', '시작정류장', '종료정류장', 'PERM_VOL', 'COM_NM', 'ADMIN_NM']
route_info_start=[]
route_info_end = []
ROUTE_ID=set(df_route_info_raw['ROUTE_ID'])
for r in ROUTE_ID:
    route_info=df_route_info_raw[df_route_info_raw["ROUTE_ID"]==r].sort_values(["SEQ"], ascending=[True])
    print(route_info)
    route_info_start.append(route_info.head(1).iloc[0])
    route_info_end.append(route_info.head(int(len(route_info)/2)).tail(1).iloc[0])

route_info_start_end=pd.merge(pd.DataFrame(route_info_start)[['ROUTE_NM','seq','ROUTE_ID','STATION_ID','SEQ','STATION_NM']],pd.DataFrame(route_info_end)[['ROUTE_ID','STATION_ID','SEQ','STATION_NM']],on='ROUTE_ID')

route_info_start_end.columns=['ROUTE_NM','SEQ','ROUTE_ID', 'STATION_ID_start', 'SEQ_start','시작정류장', 'STATION_ID_end', 'SEQ_end', '종료정류장']
df_route_info=route_info_start_end.copy()
df_tripchain

      STATION_ID     seq   ROUTE_ID ROUTE_NM  SEQ STATION_NM  mobile_id
1461   233000120  163797  241317002       19    7   센트럴힐즈.금강    36409.0
1465   233003049  163798  241317002       19    8      반도유보라    55412.0
311    233000996  163799  241317002       19    9     반도3.금강    36488.0
2385   233002364  163805  241317002       19   15        신리천    36704.0
2388   233002363  163834  241317002       19   44        신리천    55258.0
1527   233003048  163840  241317002       19   50      반도유보라    55411.0
1531   233000124  163841  241317002       19   51   금강.센트럴힐즈    55400.0
     STATION_ID     seq   ROUTE_ID ROUTE_NM  SEQ       STATION_NM  mobile_id
120   233002421  163859  241317004     19-1   10    예솔초.호반2차.대원2차    55340.0
351   233000980  163861  241317004     19-1   12         모아.반도아파트    36459.0
519   233000960  163862  241317004     19-1   13          경남.반도1차    36452.0
526   233002435  163863  241317004     19-1   14         영천유.금성백조    55293.0
533   233000961  163864  241317004     19-1   15           영천초.계룡    36453.0
284   233000130  163865  241317004     19-1   16           우남퍼스트빌    36447.0
256   233000964  163902  241317004     19-1   53           우남퍼스트빌    36469.0
544   233002433  163903  241317004     19-1   54        우남퍼스트빌.자이    37663.0
550   233000131  163904  241317004     19-1   55           계룡.영천초    36812.0
556   233002434  163905  241317004     19-1   56         금성백조.영천유    55292.0
562   233000164  163906  241317004     19-1   57          반도1차.경남    36811.0
456   233001491  163907  241317004     19-1   58         반도.모아아파트    37551.0
231   233001168  163909  241317004     19-1   60  대우푸르지오.호반베르디움2차    36458.0
    STATION_ID    seq   ROUTE_ID ROUTE_NM  SEQ STATION_NM  mobile_id
4    233002383  90559  233000077     1000  104  동탄2신도시홍보관    37659.0
6    233001648  90561  233000077     1000  106     신미주아파트    36993.0
8    233001649  90568  233000077     1000  113     신미주아파트    37965.0
10   233002382  90570  233000077     1000  115  동탄2신도시홍보관    37660.0
      STATION_ID     seq   ROUTE_ID ROUTE_NM  SEQ STATION_NM  mobile_id
1930   233002113  163934  241317006     19-2   15        산척리    55089.0
2386   233002364  163937  241317006     19-2   18        신리천    36704.0
2562   233001504  163968  241317006     19-2   49     신미주아파트    36737.0
2389   233002363  163970  241317006     19-2   51        신리천    55258.0
1918   233002114  163973  241317006     19-2   54        산척리    55090.0
1921   233002116  163974  241317006     19-2   55    DM디스플레이    55092.0
     STATION_ID     seq   ROUTE_ID ROUTE_NM  SEQ     STATION_NM  mobile_id
121   233002421  163999  241317007       29   11  예솔초.호반2차.대원2차    55340.0
352   233000980  164001  241317007       29   13       모아.반도아파트    36459.0
27    233002429  164002  241317007       29   14  이주택지.상록.경남아파트    55305.0
39    233002430  164003  241317007       29   15     성원아파트.이지더원    55306.0
51    233002431  164004  241317007       29   16      동탄2파출소.농협    55307.0
285   233000130  164006  241317007       29   18         우남퍼스트빌    36447.0
312   233000996  164011  241317007       29   23         반도3.금강    36488.0
320   233003092  164013  241317007       29   25   우미린2차.호수부영3차    55419.0
     STATION_ID     seq   ROUTE_ID ROUTE_NM  SEQ     STATION_NM  mobile_id
28    233002429  164025  241317008     19-3    6  이주택지.상록.경남아파트    55305.0
40    233002430  164026  241317008     19-3    7     성원아파트.이지더원    55306.0
52    233002431  164027  241317008     19-3    8      동탄2파출소.농협    55307.0
286   233000130  164029  241317008     19-3   10         우남퍼스트빌    36447.0
257   233000964  164066  241317008     19-3   47         우남퍼스트빌    36469.0
71    233000122  164068  241317008     19-3   49     센트럴상록.동원1차    36792.0
83    233001166  164069  241317008     19-3   50      동탄2파출소.농협    36470.0
95    233001493  164070  241317008     19-3   51     성원아파트.이지더원    37549.0
107   233001492  164071  241317008     19-3   52  상록.경남아파트.이주택지    37550.0
      STATION_ID     seq   ROUTE_ID ROUTE_NM  SEQ STATION_NM  mobile_id
2387   233002364  164097  241317009       39   21        신리천    36704.0
2390   233002363  164105  241317009       39   29        신리천    55258.0
     STATION_ID     seq   ROUTE_ID ROUTE_NM  SEQ    STATION_NM  mobile_id
246   233003093  164129  241317010       H1    8  호수부영3차.우미린2차    55420.0
258   233000964  164136  241317010       H1   15        우남퍼스트빌    36469.0
287   233000130  164156  241317010       H1   35        우남퍼스트빌    36447.0
313   233000996  164161  241317010       H1   40        반도3.금강    36488.0
321   233003092  164163  241317010       H1   42  우미린2차.호수부영3차    55419.0
      STATION_ID     seq   ROUTE_ID ROUTE_NM  SEQ       STATION_NM  mobile_id
2910   233001322  164172  241317011       H3    2             한국제지    36944.0
122    233002421  164188  241317011       H3   18    예솔초.호반2차.대원2차    55340.0
353    233000980  164190  241317011       H3   20         모아.반도아파트    36459.0
29     233002429  164191  241317011       H3   21    이주택지.상록.경남아파트    55305.0
41     233002430  164192  241317011       H3   22       성원아파트.이지더원    55306.0
53     233002431  164193  241317011       H3   23        동탄2파출소.농협    55307.0
288    233000130  164195  241317011       H3   25           우남퍼스트빌    36447.0
259    233000964  164198  241317011       H3   28           우남퍼스트빌    36469.0
72     233000122  164200  241317011       H3   30       센트럴상록.동원1차    36792.0
84     233001166  164201  241317011       H3   31        동탄2파출소.농협    36470.0
96     233001493  164202  241317011       H3   32       성원아파트.이지더원    37549.0
108    233001492  164203  241317011       H3   33    상록.경남아파트.이주택지    37550.0
457    233001491  164204  241317011       H3   34         반도.모아아파트    37551.0
232    233001168  164206  241317011       H3   36  대우푸르지오.호반베르디움2차    36458.0
3106   233001319  164223  241317011       H3   53             한국제지    37509.0
     STATION_ID     seq   ROUTE_ID ROUTE_NM  SEQ STATION_NM  mobile_id
282   233000130  154287  241205018       81   74     우남퍼스트빌    36447.0
254   233000964  154291  241205018       81   78     우남퍼스트빌    36469.0
     STATION_ID     seq   ROUTE_ID ROUTE_NM  SEQ    STATION_NM  mobile_id
283   233000130  154499  241205022       H4   22        우남퍼스트빌    36447.0
310   233000996  154504  241205022       H4   27        반도3.금강    36488.0
319   233003092  154506  241205022       H4   29  우미린2차.호수부영3차    55419.0
245   233003093  154515  241205022       H4   38  호수부영3차.우미린2차    55420.0
255   233000964  154522  241205022       H4   45        우남퍼스트빌    36469.0
     STATION_ID     seq   ROUTE_ID ROUTE_NM  SEQ       STATION_NM  mobile_id
70    233000122  154560  241205023       H5   19       센트럴상록.동원1차    36792.0
82    233001166  154561  241205023       H5   20        동탄2파출소.농협    36470.0
94    233001493  154562  241205023       H5   21       성원아파트.이지더원    37549.0
106   233001492  154563  241205023       H5   22    상록.경남아파트.이주택지    37550.0
454   233001491  154564  241205023       H5   23         반도.모아아파트    37551.0
230   233001168  154566  241205023       H5   25  대우푸르지오.호반베르디움2차    36458.0
119   233002421  154590  241205023       H5   49    예솔초.호반2차.대원2차    55340.0
349   233000980  154592  241205023       H5   51         모아.반도아파트    36459.0
26    233002429  154593  241205023       H5   52    이주택지.상록.경남아파트    55305.0
38    233002430  154594  241205023       H5   53       성원아파트.이지더원    55306.0
50    233002431  154595  241205023       H5   54        동탄2파출소.농협    55307.0
61    233002432  154596  241205023       H5   55       동원1차.센트럴상록    55308.0
     STATION_ID     seq   ROUTE_ID ROUTE_NM  SEQ       STATION_NM  mobile_id
541   233002433  121351  234001568      721   20        우남퍼스트빌.자이    37663.0
547   233000131  121352  234001568      721   21           계룡.영천초    36812.0
553   233002434  121353  234001568      721   22         금성백조.영천유    55292.0
559   233000164  121354  234001568      721   23          반도1차.경남    36811.0
452   233001491  121355  234001568      721   24         반도.모아아파트    37551.0
229   233001168  121357  234001568      721   26  대우푸르지오.호반베르디움2차    36458.0
118   233002421  121384  234001568      721   53    예솔초.호반2차.대원2차    55340.0
347   233000980  121386  234001568      721   55         모아.반도아파트    36459.0
516   233000960  121387  234001568      721   56          경남.반도1차    36452.0
523   233002435  121388  234001568      721   57         영천유.금성백조    55293.0
530   233000961  121389  234001568      721   58           영천초.계룡    36453.0
536   233000127  121390  234001568      721   59        자이.우남퍼스트빌    36446.0
     STATION_ID     seq   ROUTE_ID ROUTE_NM  SEQ    STATION_NM  mobile_id
332   233002438  154661  241205025    H6(B)   12        한화꿈에그린    55310.0
337   233002420  154663  241205025    H6(B)   14   호반베르디움.롯데캐슬    55297.0
342   233001167  154664  241205025    H6(B)   15  대우푸르지오.반도유보라    37484.0
350   233000980  154666  241205025    H6(B)   17      모아.반도아파트    36459.0
518   233000960  154667  241205025    H6(B)   18       경남.반도1차    36452.0
525   233002435  154668  241205025    H6(B)   19      영천유.금성백조    55293.0
532   233000961  154669  241205025    H6(B)   20        영천초.계룡    36453.0
538   233000127  154670  241205025    H6(B)   21     자이.우남퍼스트빌    36446.0
      STATION_ID     seq   ROUTE_ID ROUTE_NM  SEQ    STATION_NM  mobile_id
542    233002433  121430  234001570    116-2   22     우남퍼스트빌.자이    37663.0
548    233000131  121431  234001570    116-2   23        계룡.영천초    36812.0
554    233002434  121432  234001570    116-2   24      금성백조.영천유    55292.0
560    233000164  121433  234001570    116-2   25       반도1차.경남    36811.0
453    233001491  121434  234001570    116-2   26      반도.모아아파트    37551.0
460    233000150  121436  234001570    116-2   28  반도유보라.대우푸르지오    36515.0
464    233000134  121437  234001570    116-2   29   호반베르디움.롯데캐슬    36511.0
468    233002437  121439  234001570    116-2   31        한화꿈에그린    55309.0
309    233000996  121442  234001570    116-2   34        반도3.금강    36488.0
1917   233002114  121446  234001570    116-2   38           산척리    55090.0
1920   233002116  121447  234001570    116-2   39       DM디스플레이    55092.0
1923   233002365  121448  234001570    116-2   40           장지천    55242.0
1925   233002366  121472  234001570    116-2   64           장지천    55243.0
1927   233002115  121473  234001570    116-2   65       DM디스플레이    55091.0
1929   233002113  121474  234001570    116-2   66           산척리    55089.0
331    233002438  121480  234001570    116-2   72        한화꿈에그린    55310.0
336    233002420  121482  234001570    116-2   74   호반베르디움.롯데캐슬    55297.0
341    233001167  121483  234001570    116-2   75  대우푸르지오.반도유보라    37484.0
348    233000980  121485  234001570    116-2   77      모아.반도아파트    36459.0
517    233000960  121486  234001570    116-2   78       경남.반도1차    36452.0
524    233002435  121487  234001570    116-2   79      영천유.금성백조    55293.0
531    233000961  121488  234001570    116-2   80        영천초.계룡    36453.0
537    233000127  121489  234001570    116-2   81     자이.우남퍼스트빌    36446.0
     STATION_ID     seq   ROUTE_ID ROUTE_NM  SEQ    STATION_NM  mobile_id
543   233002433  154630  241205024    H6(A)   18     우남퍼스트빌.자이    37663.0
549   233000131  154631  241205024    H6(A)   19        계룡.영천초    36812.0
555   233002434  154632  241205024    H6(A)   20      금성백조.영천유    55292.0
561   233000164  154633  241205024    H6(A)   21       반도1차.경남    36811.0
455   233001491  154634  241205024    H6(A)   22      반도.모아아파트    37551.0
461   233000150  154636  241205024    H6(A)   24  반도유보라.대우푸르지오    36515.0
465   233000134  154637  241205024    H6(A)   25   호반베르디움.롯데캐슬    36511.0
469   233002437  154639  241205024    H6(A)   27        한화꿈에그린    55309.0
   STATION_ID     seq   ROUTE_ID ROUTE_NM  SEQ STATION_NM  mobile_id
9   233001649   99971  234000314     6004    6     신미주아파트    37965.0
7   233001648  100018  234000314     6004   53     신미주아파트    36993.0
     STATION_ID    seq   ROUTE_ID ROUTE_NM  SEQ     STATION_NM  mobile_id
14    233001506  92565  233000252      710    3       동탄2부영아파트    37582.0
17    233000149  92566  233000252      710    4          한백초중교    36514.0
24    233002429  92572  233000252      710   10  이주택지.상록.경남아파트    55305.0
36    233002430  92573  233000252      710   11     성원아파트.이지더원    55306.0
48    233002431  92574  233000252      710   12      동탄2파출소.농협    55307.0
59    233002432  92575  233000252      710   13     동원1차.센트럴상록    55308.0
68    233000122  92618  233000252      710   56     센트럴상록.동원1차    36792.0
80    233001166  92619  233000252      710   57      동탄2파출소.농협    36470.0
92    233001493  92620  233000252      710   58     성원아파트.이지더원    37549.0
104   233001492  92621  233000252      710   59  상록.경남아파트.이주택지    37550.0
111   233000135  92626  233000252      710   64          한백초중교    36513.0
114   233000981  92627  233000252      710   65       동탄2부영아파트    36434.0
      STATION_ID    seq   ROUTE_ID ROUTE_NM  SEQ STATION_NM  mobile_id
276    233000130  92672  233000253      150   43     우남퍼스트빌    36447.0
248    233000964  92676  233000253      150   47     우남퍼스트빌    36469.0
540    233002433  92677  233000253      150   48  우남퍼스트빌.자이    37663.0
546    233000131  92678  233000253      150   49     계룡.영천초    36812.0
552    233002434  92679  233000253      150   50   금성백조.영천유    55292.0
558    233000164  92680  233000253      150   51    반도1차.경남    36811.0
1212   233000971  92683  233000253      150   54       일진정공    36500.0
1213   233000969  92684  233000253      150   55      상록골프장    36504.0
1214   233000160  92685  233000253      150   56   만의사.마을회관    36505.0
1215   233000970  92686  233000253      150   57      상록골프장    36503.0
1216   233000972  92687  233000253      150   58       일진정공    36499.0
1217   233002426  92688  233000253      150   59    치동천힐링마을    55302.0
515    233000960  92691  233000253      150   62    경남.반도1차    36452.0
522    233002435  92692  233000253      150   63   영천유.금성백조    55293.0
529    233000961  92693  233000253      150   64     영천초.계룡    36453.0
277    233000130  92694  233000253      150   65     우남퍼스트빌    36447.0
249    233000964  92698  233000253      150   69     우남퍼스트빌    36469.0
     STATION_ID    seq   ROUTE_ID ROUTE_NM  SEQ    STATION_NM  mobile_id
243   233003093  92752  233000254      203   13  호수부영3차.우미린2차    55420.0
250   233000964  92759  233000254      203   20        우남퍼스트빌    36469.0
278   233000130  92794  233000254      203   55        우남퍼스트빌    36447.0
307   233000996  92799  233000254      203   60        반도3.금강    36488.0
317   233003092  92801  233000254      203   62  우미린2차.호수부영3차    55419.0
     STATION_ID    seq   ROUTE_ID ROUTE_NM  SEQ     STATION_NM  mobile_id
12    233001506  91588  233000128      712    3       동탄2부영아파트    37582.0
15    233000149  91589  233000128      712    4          한백초중교    36514.0
18    233002429  91590  233000128      712    5  이주택지.상록.경남아파트    55305.0
30    233002430  91591  233000128      712    6     성원아파트.이지더원    55306.0
42    233002431  91592  233000128      712    7      동탄2파출소.농협    55307.0
54    233002432  91593  233000128      712    8     동원1차.센트럴상록    55308.0
62    233000122  91625  233000128      712   40     센트럴상록.동원1차    36792.0
73    233001166  91626  233000128      712   41      동탄2파출소.농협    36470.0
85    233001493  91627  233000128      712   42     성원아파트.이지더원    37549.0
97    233001492  91628  233000128      712   43  상록.경남아파트.이주택지    37550.0
109   233000135  91629  233000128      712   44          한백초중교    36513.0
112   233000981  91630  233000128      712   45       동탄2부영아파트    36434.0
     STATION_ID    seq   ROUTE_ID ROUTE_NM  SEQ       STATION_NM  mobile_id
115   233002421  91644  233000130     73-1   12    예솔초.호반2차.대원2차    55340.0
131   233002428  91645  233000130     73-1   13           호반베르디움    55304.0
19    233002429  91647  233000130     73-1   15    이주택지.상록.경남아파트    55305.0
31    233002430  91648  233000130     73-1   16       성원아파트.이지더원    55306.0
43    233002431  91649  233000130     73-1   17        동탄2파출소.농협    55307.0
55    233002432  91650  233000130     73-1   18       동원1차.센트럴상록    55308.0
63    233000122  91695  233000130     73-1   63       센트럴상록.동원1차    36792.0
74    233001166  91696  233000130     73-1   64        동탄2파출소.농협    36470.0
86    233001493  91697  233000130     73-1   65       성원아파트.이지더원    37549.0
98    233001492  91698  233000130     73-1   66    상록.경남아파트.이주택지    37550.0
224   233002427  91700  233000130     73-1   68           KCC스위첸    55303.0
225   233001168  91701  233000130     73-1   69  대우푸르지오.호반베르디움2차    36458.0
     STATION_ID    seq   ROUTE_ID ROUTE_NM  SEQ    STATION_NM  mobile_id
241   233003093  91718  233000131     6001    5  호수부영3차.우미린2차    55420.0
247   233000964  91725  233000131     6001   12        우남퍼스트빌    36469.0
275   233000130  91767  233000131     6001   54        우남퍼스트빌    36447.0
305   233000996  91772  233000131     6001   59        반도3.금강    36488.0
315   233003092  91774  233000131     6001   61  우미린2차.호수부영3차    55419.0
     STATION_ID    seq   ROUTE_ID ROUTE_NM  SEQ     STATION_NM  mobile_id
242   233003093  91783  233000133    116-3    5   호수부영3차.우미린2차    55420.0
328   233002438  91788  233000133    116-3   10         한화꿈에그린    55310.0
333   233002420  91790  233000133    116-3   12    호반베르디움.롯데캐슬    55297.0
338   233001167  91791  233000133    116-3   13   대우푸르지오.반도유보라    37484.0
343   233000980  91793  233000133    116-3   15       모아.반도아파트    36459.0
20    233002429  91794  233000133    116-3   16  이주택지.상록.경남아파트    55305.0
32    233002430  91795  233000133    116-3   17     성원아파트.이지더원    55306.0
44    233002431  91796  233000133    116-3   18      동탄2파출소.농협    55307.0
56    233002432  91797  233000133    116-3   19     동원1차.센트럴상록    55308.0
398   233000144  91799  233000133    116-3   21           영천1동    36455.0
399   233000141  91918  233000133    116-3  140           영천1동    36454.0
64    233000122  91920  233000133    116-3  142     센트럴상록.동원1차    36792.0
75    233001166  91921  233000133    116-3  143      동탄2파출소.농협    36470.0
87    233001493  91922  233000133    116-3  144     성원아파트.이지더원    37549.0
99    233001492  91923  233000133    116-3  145  상록.경남아파트.이주택지    37550.0
447   233001491  91924  233000133    116-3  146       반도.모아아파트    37551.0
458   233000150  91926  233000133    116-3  148   반도유보라.대우푸르지오    36515.0
462   233000134  91927  233000133    116-3  149    호반베르디움.롯데캐슬    36511.0
466   233002437  91929  233000133    116-3  151         한화꿈에그린    55309.0
306   233000996  91932  233000133    116-3  154         반도3.금강    36488.0
316   233003092  91934  233000133    116-3  156   우미린2차.호수부영3차    55419.0
     STATION_ID    seq   ROUTE_ID ROUTE_NM  SEQ    STATION_NM  mobile_id
329   233002438  91941  233000134     1001    3        한화꿈에그린    55310.0
334   233002420  91943  233000134     1001    5   호반베르디움.롯데캐슬    55297.0
339   233001167  91944  233000134     1001    6  대우푸르지오.반도유보라    37484.0
344   233000980  91946  233000134     1001    8      모아.반도아파트    36459.0
513   233000960  91947  233000134     1001    9       경남.반도1차    36452.0
520   233002435  91948  233000134     1001   10      영천유.금성백조    55293.0
527   233000961  91949  233000134     1001   11        영천초.계룡    36453.0
534   233000127  91950  233000134     1001   12     자이.우남퍼스트빌    36446.0
539   233002433  92090  233000134     1001  152     우남퍼스트빌.자이    37663.0
545   233000131  92091  233000134     1001  153        계룡.영천초    36812.0
551   233002434  92092  233000134     1001  154      금성백조.영천유    55292.0
557   233000164  92093  233000134     1001  155       반도1차.경남    36811.0
448   233001491  92094  233000134     1001  156      반도.모아아파트    37551.0
459   233000150  92095  233000134     1001  157  반도유보라.대우푸르지오    36515.0
463   233000134  92096  233000134     1001  158   호반베르디움.롯데캐슬    36511.0
467   233002437  92098  233000134     1001  160        한화꿈에그린    55309.0
     STATION_ID    seq   ROUTE_ID ROUTE_NM  SEQ       STATION_NM  mobile_id
116   233002421  92179  233000136     6002   12    예솔초.호반2차.대원2차    55340.0
345   233000980  92181  233000136     6002   14         모아.반도아파트    36459.0

,암호화카드번호||','||트랜잭션ID||','||환승횟수||','||교통카드발행사ID||','||총이용객수||','||사용자구분||','||교통수단CD1||','||교통수단CD2||','||교통수단CD3||','||교통수단CD4||',...,'||하차역ID1||','||하차역ID2||','||하차역ID3||','||하차역ID4||','||하차역ID5||','||최초승차역ID||','||최종하차역ID||','||총이용금액||','||수집건수||','||트립체인완료코드
0,900079696430,56,2,9000923,1,1,500.0,500.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4116708.0,1350,2,;
1,900079697651,5,1,9000923,1,1,500.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4117269.0,1250,1,;
2,900079698254,32,1,9000923,1,1,500.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4107936.0,1550,1,;
3,900079699257,80,1,9000923,1,1,500.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4116717.0,1250,1,;
4,900079701419,64,1,9000923,1,1,530.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4116848.0,2050,1,;
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,900016808011,42,1,3101000,1,1,500.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4130524.0,1250,1,;
1048571,900016808389,72,1,3101000,1,1,500.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4105383.0,1250,1,;
1048572,900016808481,18,2,3101000,1,1,500.0,583.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4119436.0,1350,2,;
1048573,900016684666,18,1,3101000,1,1,500.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4108146.0,1250,1,;
1048574,900016684666,19,1,3101000,1,1,500.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4116733.0,1250,1,;

In [5]:
columns_0 =[]
for col in df_tripchain.columns: 
    columns_0.append(col.replace('||', ''))
columns=[]
for col in columns_0: 
    columns.append(col.replace("'",''))

df_tripchain.columns=columns
df_tripchain['최종하차일시'] = pd.to_datetime(df_tripchain["최종하차일시"], errors='coerce')
before = len(df_tripchain)
df_tripchain.dropna(subset=['최종하차일시'], inplace=True)
after = len(df_tripchain)

print("{} -> {} ({:.2f})".format(before, after, (before-after)/before))

1048575 -> 1036746 (0.01)

In [6]:
df_tripchain.loc[0]

암호화카드번호             900079696430
트랜잭션ID                        56
환승횟수                           2
교통카드발행사ID                9000923
총이용객수                          1
사용자구분                          1
교통수단CD1                      500
교통수단CD2                      500
교통수단CD3                      NaN
교통수단CD4                      NaN
교통수단CD5                      NaN
버스노선ID1               4.1002e+07
버스노선ID2               4.1002e+07
버스노선ID3                      NaN
버스노선ID4                      NaN
버스노선ID5                      NaN
차량ID1                1.41772e+08
차량ID2                1.41772e+08
차량ID3                        NaN
차량ID4                        NaN
차량ID5                        NaN
총통행거리                      11170
총탑승시간                         25
총소요시간                         25
승차일시1                2.01807e+13
승차일시2                2.01807e+13
승차일시3                        NaN
승차일시4                        NaN
승차일시5                        NaN
하차일시1                2.01807e+13
하차일시2                2.01807e+13
하차일시3                        NaN
하차일시4                        NaN
하차일시5                        NaN
최초승차일시            20180701052543
최종하차일시       2018-07-01 06:48:26
승차역ID1               4.11683e+06
승차역ID2               4.15014e+06
승차역ID3                       NaN
승차역ID4                       NaN
승차역ID5                       NaN
하차역ID1                       NaN
하차역ID2                       NaN
하차역ID3                       NaN
하차역ID4                       NaN
하차역ID5                       NaN
최초승차역ID                      NaN
최종하차역ID              4.11671e+06
총이용금액                       1350
수집건수                           2
트립체인완료코드                       ;
Name: 0, dtype: object

In [7]:
df_tripchain[['암호화카드번호','환승횟수', '사용자구분','버스노선ID1' ,'승차역ID1','최종하차역ID']]

              암호화카드번호  환승횟수  사용자구분     버스노선ID1     승차역ID1    최종하차역ID
0        900079696430     2      1  41002045.0  4116828.0  4116708.0
1        900079697651     1      1  41031040.0  4117280.0  4117269.0
2        900079698254     1      1  41031121.0  4199619.0  4107936.0
3        900079699257     1      1  41031013.0  4108130.0  4116717.0
4        900079701419     1      1  41020001.0  4100122.0  4116848.0
...               ...   ...    ...         ...        ...        ...
1048570  900016808011     1      1  41067012.0  4130419.0  4130524.0
1048571  900016808389     1      1  41061025.0  4108112.0  4105383.0
1048572  900016808481     2      1  41036131.0  4170340.0  4119436.0
1048573  900016684666     1      1  41036113.0  4116734.0  4108146.0
1048574  900016684666     1      1  41036113.0  4108147.0  4116733.0

[1036746 rows x 6 columns]

In [8]:
df_tripchain[df_tripchain['버스노선ID1']==41002045][['최초승차일시','승차역ID1']].sort_values(["최초승차일시"], ascending=[True]).head(50)

                최초승차일시     승차역ID1
57173   20180701045617  4110255.0
50968   20180701045800  4100464.0
163403  20180701045802  4100535.0
48528   20180701045802  4100464.0
64558   20180701045805  4100464.0
121276  20180701045809  4100464.0
173357  20180701045832  4108216.0
154032  20180701045850  4100535.0
92110   20180701045926  4100464.0
106477  20180701050008  4116948.0
13555   20180701050047  4100459.0
179006  20180701050049  4100459.0
69085   20180701050054  4108039.0
166823  20180701050056  4108039.0
105630  20180701050129  4100529.0
133982  20180701050132  4108041.0
160219  20180701050244  4110257.0
69268   20180701050252  4100452.0
91933   20180701050255  4100452.0
15525   20180701050258  4100452.0
91962   20180701050300  4100452.0
42582   20180701050334  4100527.0
154721  20180701050354  4100449.0
95574   20180701050358  4100449.0
18825   20180701050430  4110130.0
95131   20180701050452  4110264.0
47099   20180701050514  4100447.0
60329   20180701050516  4100447.0
116882  20180701050554  4100445.0
54254   20180701050651  4108044.0
65484   20180701050653  4108044.0
129936  20180701050723  4110267.0
157033  20180701050730  4116874.0
83665   20180701050814  4100441.0
162009  20180701050821  4108042.0
157340  20180701050821  4111873.0
144083  20180701050849  4108036.0
67800   20180701050918  4108039.0
171643  20180701050925  4108039.0
180571  20180701050942  4100458.0
13098   20180701051021  4116873.0
163085  20180701051103  4116888.0
132532  20180701051125  4100452.0
150751  20180701051128  4100452.0
59911   20180701051137  4108041.0
89077   20180701051220  4100449.0
39568   20180701051223  4100449.0
13775   20180701051319  4108035.0
177026  20180701051334  4116893.0
81868   20180701051336  4116893.0

In [9]:
df_route_station_mapping = pd.read_csv('../data/PJT001_routestationmapping.csv')
df_route_station_mapping[df_route_station_mapping['표준노선ID']==41002045]

      구분  운수사명    운수사ID     이비노선ID    표준노선ID    노선명
40  경기시내  경기고속  4100200  234000024  41002045  720-1

In [10]:
df_route_station_mapping

        구분     운수사명    운수사ID     이비노선ID    표준노선ID    노선명
0     경기시내    경원여객M  2805000  216000044  28050900  M6410
1     경기시내     강화운수  4100100  232000028  41001001      2
2     경기시내     강화운수  4100100  232000029  41001013     88
3     경기시내     강화운수  4100100  232000061  41001020   3000
4     경기시내     강화운수  4100100  232000067  41001024    388
...    ...      ...      ...        ...       ...    ...
2122  경기시내     서현운수  4108800  229000060  41088004    330
2123  경기시내     서현운수  4108800  229000063  41088005    850
2124  경기시내  코레일네트웍스  4108900  213000024  41089001   8507
2125  경기시내     신성교통  4109100  229000102  41091900  M7111
2126  경기시내     군포여객  4109400  225000004  41094001    100

[2127 rows x 6 columns]

In [44]:
df_tripchain.loc[0]

암호화카드번호             900079696430
트랜잭션ID                        56
환승횟수                           2
교통카드발행사ID                9000923
총이용객수                          1
사용자구분                          1
교통수단CD1                      500
교통수단CD2                      500
교통수단CD3                      NaN
교통수단CD4                      NaN
교통수단CD5                      NaN
버스노선ID1               4.1002e+07
버스노선ID2               4.1002e+07
버스노선ID3                      NaN
버스노선ID4                      NaN
버스노선ID5                      NaN
차량ID1                1.41772e+08
차량ID2                1.41772e+08
차량ID3                        NaN
차량ID4                        NaN
차량ID5                        NaN
총통행거리                      11170
총탑승시간                         25
총소요시간                         25
승차일시1                2.01807e+13
승차일시2                2.01807e+13
승차일시3                        NaN
승차일시4                        NaN
승차일시5                        NaN
하차일시1                2.01807e+13
하차일시2                2.01807e+13
하차일시3                        NaN
하차일시4                        NaN
하차일시5                        NaN
최초승차일시            20180701052543
최종하차일시       2018-07-01 06:48:26
승차역ID1               4.11683e+06
승차역ID2               4.15014e+06
승차역ID3                       NaN
승차역ID4                       NaN
승차역ID5                       NaN
하차역ID1                       NaN
하차역ID2                       NaN
하차역ID3                       NaN
하차역ID4                       NaN
하차역ID5                       NaN
최초승차역ID                      NaN
최종하차역ID              4.11671e+06
총이용금액                       1350
수집건수                           2
트립체인완료코드                       ;
Name: 0, dtype: object

In [90]:
df_tripchain.sort_values(["환승횟수"], ascending=[False]).head(100)
df_tripchain[df_tripchain['환승횟수']==1]

,암호화카드번호,트랜잭션ID,환승횟수,교통카드발행사ID,총이용객수,사용자구분,교통수단CD1,교통수단CD2,교통수단CD3,교통수단CD4,...,하차역ID1,하차역ID2,하차역ID3,하차역ID4,하차역ID5,최초승차역ID,최종하차역ID,총이용금액,수집건수,트립체인완료코드
345071,900522629760,42,5,9000921,1,1,203.0,105.0,533.0,500.0,...,NaN,NaN,NaN,4108224.0,4108042.0,NaN,4108042.0,2600,5,;
464610,900146045504,32,5,9000931,1,1,115.0,115.0,570.0,500.0,...,NaN,NaN,NaN,4116900.0,4116916.0,NaN,4116916.0,2800,5,;
759051,900194491859,35,5,9000901,1,1,582.0,500.0,500.0,115.0,...,NaN,NaN,NaN,9036129.0,9034515.0,NaN,9034515.0,1550,5,;
305689,900518869155,87,5,9000921,1,1,500.0,500.0,202.0,500.0,...,NaN,NaN,NaN,4108040.0,4170942.0,NaN,4170942.0,1350,5,;
872617,900514159013,1,5,9000923,1,1,500.0,130.0,115.0,201.0,...,NaN,NaN,NaN,313.0,71072.0,NaN,71072.0,2400,5,;
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005119,900159293693,37,5,9000921,1,1,511.0,500.0,231.0,500.0,...,NaN,NaN,NaN,4170974.0,4170542.0,NaN,4170542.0,1750,5,;
665952,900509891487,41,5,9000921,1,1,120.0,202.0,500.0,500.0,...,NaN,NaN,NaN,4107943.0,4100117.0,NaN,4100117.0,1650,5,;
973907,900164976227,29,5,9000922,1,1,511.0,582.0,511.0,500.0,...,NaN,NaN,NaN,4103571.0,4178962.0,NaN,4178962.0,1350,5,;
953741,900507484119,13,5,3101000,1,1,582.0,500.0,500.0,500.0,...,NaN,NaN,NaN,4116897.0,4114849.0,NaN,4114849.0,1550,5,;
46744,900509597734,17,5,9000928,1,1,582.0,201.0,570.0,500.0,...,NaN,NaN,NaN,4197467.0,4108418.0,NaN,4108418.0,4300,5,;

,암호화카드번호,트랜잭션ID,환승횟수,교통카드발행사ID,총이용객수,사용자구분,교통수단CD1,교통수단CD2,교통수단CD3,교통수단CD4,...,하차역ID1,하차역ID2,하차역ID3,하차역ID4,하차역ID5,최초승차역ID,최종하차역ID,총이용금액,수집건수,트립체인완료코드
1,900079697651,5,1,9000923,1,1,500.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4117269.0,1250,1,;
2,900079698254,32,1,9000923,1,1,500.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4107936.0,1550,1,;
3,900079699257,80,1,9000923,1,1,500.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4116717.0,1250,1,;
4,900079701419,64,1,9000923,1,1,530.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4116848.0,2050,1,;
5,900079701419,65,1,9000923,1,1,530.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4100121.0,2050,1,;
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048569,900016807708,75,1,3101000,1,1,500.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4150146.0,1250,1,;
1048570,900016808011,42,1,3101000,1,1,500.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4130524.0,1250,1,;
1048571,900016808389,72,1,3101000,1,1,500.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4105383.0,1250,1,;
1048573,900016684666,18,1,3101000,1,1,500.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4108146.0,1250,1,;
1048574,900016684666,19,1,3101000,1,1,500.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4116733.0,1250,1,;

In [ ]:
## 각종 설정들

In [8]:
#Mapbox, DeckGL
access_token = os.getenv('MAPBOX_ACCESS_TOKEN')
view_options = {
    'center': [126.908, 37.132],
    'zoom': 12,
    'bearing': 0,
    'pitch': 60,
    'style': 'mapbox://styles/mapbox/dark-v9',
    'access_token': access_token
}
# Plotly
plotly_kwargs = {
    'margin' : {'l':250},
    'dimensions': (1000, 600)
}

## Helper func 정의

def get_random_color(opacity=1):
    """
        deckgl.Layer 파라미터 중 getColor 에 값을 주는데 쓰입니다.
    """
    rgba = np.random.choice(range(256), size=3).tolist()
    rgba.append(opacity*255)
    return rgba

def draw_pivot(df, pivot, value, kind, title="", xTitle="", yTitle="", topn=-1, asFigure=False, **kwargs):
    pvt = df.groupby(pivot)[value].sum()
    if topn > -1:
        pvt = pvt.sort_values(ascending=False).iloc[:topn]
        pvt.index = pvt.index.astype('category')
        
        if kind == 'barh':
            pvt = pvt.sort_values(ascending=True)
    
    # layout
    fig = pvt.iplot(kind=kind, title=title, xTitle=xTitle, yTitle=yTitle, asFigure=asFigure)
    layout = {
        'showlegend': False
    }
    layout.update(**kwargs)
    fig.plotly_update({'showlegend':False})
    return fig


def draw_subplots(figures, shape, title="", **kwargs):
    titles = [figure['layout']['title']['text'] for figure in figures]
    base_layout = figures[0]['layout']
    base_layout['title']['text'] = title
    base_layout = base_layout.to_plotly_json()
    
    cf.iplot(cf.subplots(figures,
                         subplot_titles=titles,
                         base_layout=base_layout,
                         shape=shape),
            **kwargs)

## Data EDA
데이터에 대한 자세한 내용은 Part1 에서 다뤘으므로, 여기서는 바로 EDA에 들어가도록 하겠습니다.

전반적인 일일 이용수준은 어떨까?
가장 먼저, 화성시 일일 버스 이용에 대한 전반적인 대표값들을 살펴보겠습니다.

이용과 운행
이용횟수
이용은 크게 승차, 환승, 하차로 나뉘어져 있습니다.
하루의 버스 이용횟수는 하차 수로 유추 할 수 있습니다. 승차의 경우 크게 일반 승차와 환승으로 나눠지지만, 결국 모든 이용객은 하차하기 때문입니다.

In [9]:
df_usage['하차'].sum()

NameError: name 'df_usage' is not defined

In [ ]:
df_usage['하차'].sum()
df_usage[['승차', '하차', '환승']].sum().iplot(kind='bar')
df_ratio_u = df_usage[['승차', '환승']].sum().reset_index()
df_ratio_u.rename(columns={'index': '이용', 0:'횟수'}, inplace=True)

df_ratio_u.iplot(kind='pie', labels='이용', values='횟수', title='승차 이용 비율')
df_usage['노선명'].nunique()
df_usage['표준정류장ID'].nunique()
#정류장 분포
df_route_station.head()
# 정류장 정보를 시각화할 형태로 뽑아냅니다.
data = []
for coord in df_route_station[['MAP_LON', 'MAP_LAT']].values.tolist():
    data.append({
        'coordinates': coord
    })
m = deckgl.Map(**view_options)
m.add(deckgl.GridCellLayer(data,
                          cellSize=30,
                          getElevation=100,
                          getPosition='obj => obj.coordinates',
                          getColor=[255,232,0]))
m.show()

# 노선분포
# 이번엔 노선들을 지도에 노선들이 어디에 주로 분포해있나 보겠습니다.
grp = df_route_station.groupby('ROUTE_ID')
data = []

for name, g_df in grp:
    g_df = g_df.sort_values('SEQ')
    data.append({
        'path' : g_df[['MAP_LON', 'MAP_LAT']].values.tolist()
    })
view = view_options.copy()
view['pitch'] = 0
view['zoom'] = 10

m = deckgl.Map(**view)
m.add(deckgl.PathLayer(data,
                       getColor=[255, 233, 0],
                       getWidth=20,
                       getPath='obj => obj.path',
                       opacity=0.01))
m.show()

In [17]:
색이 진한 구간일수록 그 구간을 이용하는 노선이 많다는 뜻입니다.
이전에 언급했던 각 스팟들 위주로 색이 진한 것을 알 수 있습니다.
한편, 각 스팟들로 한 번에 넘어가는 노선(지도 상에서 직선노선)들도 꽤 많이 보입니다.
다만, 구간들이 시내에 있는 것 만큼 색이 진하지 않으므로, 시내보다 해당 구간의 노선이 별로 없음을 알 수 있습니다.

SyntaxError: invalid syntax (<ipython-input-17-51d61fafc415>, line 1)

In [19]:
# 노선당 정류장 수 분포
station_per_route = df_route_station.groupby('ROUTE_ID')['STATION_ID'].size()
station_per_route.shape
station_per_route.iplot(kind='hist', bins=(0, 250, 5),
                        title="노선당 정류장 수 분포",
                        xTitle="정류장 수")
station_per_route.describe()

(36,)

count    36.000000
mean     10.555556
std       5.427151
min       2.000000
25%       7.000000
50%       9.000000
75%      14.000000
max      23.000000
Name: STATION_ID, dtype: float64

In [ ]:
정류장당 노선 수 분포
이번엔 반대로, 정류장당 노선이 몇개가 들어오는지 보겠습니다.

In [20]:
route_per_station = df_route_station.groupby(['STATION_ID','STATION_NM'])['ROUTE_ID'].size()
route_per_station.iplot(kind='hist', title="정류장당 노선 수 분포", xTitle="노선 수")

In [21]:
route_per_station.mean()
route_per_station.median()
route_per_station.std()

5.507246376811594

4.0

5.707639844994647

In [ ]:
굉장히 skewed 합니다. 아무래도 대표값을 뽑으라면 평균보다는 중간값을 사용해야할 듯합니다.
즉, 정류장당 일반적으로 5개의 노선을 갖는다고 볼 수 있습니다.

일단, 각 정류장별 노선수를 지도에 시각화해서 보겠습니다.

In [22]:
pvt = df_route_station.groupby(['STATION_ID', 'STATION_NM', 'MAP_LON', 'MAP_LAT'])[['ROUTE_ID']].size().reset_index()
data = []
for i, row in pvt.iterrows():
    data.append({
        'coord': row[['MAP_LON', 'MAP_LAT']].values.tolist(),
        '노선수': row[0],
        '정류장명': row['STATION_NM']
    })
    
max_value = pvt[0].max()

In [60]:
m = deckgl.Map(**view_options)
m.add(deckgl.GridCellLayer(
    data=data,
    cellSize=50,
    getPosition='x=>x.coord',
    getColor='obj => [255*obj.{}/{}+60, 0, 0]'.format('노선수', max_value),
    getElevation='x=>x.노선수',
    elevationScale=20,
    pickable=True,
    tooltip=["정류장명", "노선수"]
))
m.show()

#이번에는 너무 극단적인 정류장들,
#즉, 노선 수가 굉장히 많은 정류장들(30개 이상)을 잠깐 살펴보겠습니다.

In [24]:
# 노선 개수가 30개 이상인 정류장만 선택
route_per_station_topn = route_per_station[route_per_station>=30].sort_values()
len(route_per_station_topn)

# 정렬해서 시각화
route_per_station_topn.iplot(kind='barh', title="노선 수가 30개 이상인 정류장들", **plotly_kwargs)

1

In [ ]:
이 정류소들은 일종의 노선 허브역할을 하는 듯 합니다.
실제로 이 정류장들은 어디 위치해있는지 노선과 함께 시각화해서 보겠습니다.

먼저 위 정류장들을 지나는 버스노선부터 다 뽑아옵니다.

In [25]:
route_per_station_topn= pd.merge(route_per_station_topn, 
                                 df_route_station[['STATION_ID', 'STATION_NM', 'MAP_LON', 'MAP_LAT']],
                                 on='STATION_ID', how='left').drop_duplicates()

routes_all = {}
for idx, row in route_per_station_topn.iterrows():
    # 먼저 각 정류장을 지나는 노선들을 뽑아옵니다.
    routes = df_route_station[df_route_station['STATION_ID']==row['STATION_ID']]['ROUTE_ID'].unique()
    
    # 각 노선의 지리정보를 따로 담아둡니다.
    for route in routes:
        # 이미 뽑았던 노선인 경우, 제외합니다.
        if route in routes_all: 
            continue
        idx = df_route_station['ROUTE_ID']==route
        coords = df_route_station[idx][['MAP_LON', 'MAP_LAT']].drop_duplicates().values.tolist()
        
        routes_all[route] = coords

In [26]:
len(routes_all)

14

In [30]:
# 시각화 라이브러리에 들어갈 형태로 바꿔줍니다.
path_all = []
for name, coords in routes_all.items():
    path_all.append({
        '노선': name,
        '총 정류장 수': len(coords),
        'path': coords, 
        'color': get_random_color(0.5),
        'opacity': 0
    })
# 시각화 라이브러리에 들어갈 형태로 바꿔줍니다.
station_topn = []
for idx, row in route_per_station_topn.iterrows():
    station_topn.append({
        "coord": row[['MAP_LON', 'MAP_LAT']].values.tolist(),
        "n_path": row['ROUTE_ID'],
        "name": row['STATION_NM']
    })  

m = deckgl.Map(**view_options)
path_layer = deckgl.PathLayer(path_all, 
                             getWidth=30,
                             getColor='obj => obj.color')
station_layer = deckgl.GridCellLayer(station_topn,
                                    cellSize=70,
                                    getPosition='obj => obj.coord',
                                    getElevation='obj => obj.n_path',
                                    elevationScale=30,
                                    getColor=[255,236,0],
                                    pickable=True,
                                    tooltip=["name", "n_path"])
m.add(path_layer)
m.add(station_layer)
m.show()

In [ ]:
어느 시간대에 버스를 많이 탈까?
시간대별 이용량
이용량은 다음과 같이 정의합니다.
이용량 = 승차량 + 하차량 + 환승량

In [ ]:
df_usage['이용'] = df_usage['승차'] + df_usage['하차'] + df_usage['환승']
grp = df_usage.groupby('시간대')

grp['이용'].sum().iplot(kind='bar', 
                      title="시간대별 버스 이용량",
                      xTitle="시",
                      yTitle="이용량")

In [ ]:
제일 많이 타는 시간은 8시와 18시입니다. 즉 출퇴근 시간에 가장 많이 이용합니다.
핫타임인 이 두 시간대를 조금 더 집중적으로 살펴보도록 하겠습니다.

출퇴근 시간에 어디에서 어떤 버스를 많이탈까?
출퇴근 시간에 사람들이 어디에서 어디로 많이 움직일까요?
또 어떤 노선을 더 이용할까요? 이를 먼저 파악해보겠습니다.

출근시간은 넉넉히 7~9시로,
퇴근시간은 17~19시로 가정합니다.

In [ ]:
morning_time = [7,8,9]
dinner_time = [17,18,19]

df_usage = pd.merge(df_usage, df_route_station[['STATION_ID', 'MAP_LON', 'MAP_LAT']], 
                    left_on='표준정류장ID', right_on='STATION_ID', how='left')\
                    .rename({"MAP_LON": "lon", "MAP_LAT": "lat"}, axis=1)
df_morning = df_usage[df_usage['시간대'].isin(morning_time)]
df_dinner = df_usage[df_usage['시간대'].isin(dinner_time)]

In [ ]:
어디 정류장에서 많이 타고 내릴까?
먼저 어디 정류장에서 이용량이 높은지 보겠습니다.

이용량 분포

In [ ]:
figures = [
    draw_pivot(df_morning, '정류장명', '이용', 'hist', "출근시간 정류장 이용량 분포", xTitle='이용량', asFigure=True),
    draw_pivot(df_dinner, '정류장명', '이용', 'hist', "퇴근시간 정류장 이용량 분포", xTitle='이용량', asFigure=True)
]

draw_subplots(figures, (1, 2))

In [ ]:
이용량 분포를 먼저 살펴보면, 왼쪽으로 굉장히 skewed 되어 있습니다.
그리고 소수의 이용량이 높은 값들이 존재합니다.
즉, 몇몇의 정류장들의 이용량이 압도적으로 높은 것을 의미합니다.

지금은 승차, 하차, 환승을 모두 묶은 이용을 봤습니다.
이를 다시 쪼개어 승차, 하차, 환승별로 정류장 이용량 분포가 다른지 보겠습니다.

In [ ]:
station_usage_m = df_morning.groupby('정류장명')[['승차', '하차', '환승']].sum()
fig1 = station_usage_m.iplot(kind='box', title="출근시간 정류장 이용량", asFigure=True)

station_usage_d = df_dinner.groupby('정류장명')[['승차', '하차', '환승']].sum()
fig2 = station_usage_d.iplot(kind='box', title="퇴근시간 정류장 이용량", asFigure=True)
fig2.plotly_update({'showlegend':False})

draw_subplots([fig1, fig2], (1, 2))

출근시간의 경우, 승차나 환승보다 하차가 압도적으로 많습니다.
승차나 환승한 사람들이, 화성시내 어딘가에서 내린다고 생각해보면 상식적으로 보입니다.

퇴근시간도 출근시간과 같은 형태입니다.
다만 환승의 비율이 좀 더 높아졌습니다.

출퇴근 시간의 승차, 하차, 환승지역이 주로 어디인지 실제로 시각화해서 보겠습니다.

출근시간

In [ ]:
df_usage_m = df_morning.groupby(['표준정류장ID', '정류장명', 'lon', 'lat'])[['승차', '하차', '환승', '이용']]\
    .sum()\
    .reset_index()
df_usage_m.shape
df_usage_m.head()
def draw_station_usage(df):
    for target in ['승차', '하차', '환승']:
        # 시각화를 위한 데이터 형태로 만들어 줍니다.
        data = []
        for i, row in df.iterrows():
            data.append({
                "coord" : row[['lon', 'lat']].values.tolist(),
                "정류장명": row['정류장명'],
                "승차": row['승차'],
                "하차": row['하차'],
                "환승": row['환승'],
            })

        # 지도에 시각화
        target_max = df[target].max()
        m = deckgl.Map(**view_options)
        m.add(deckgl.GridCellLayer(data,
                                  cellSize=70,
                                  getPosition='obj => obj.coord',
                                  getElevation='obj => obj.{}'.format(target),
                                  getColor='obj => [255, 232*obj.{}/{}, 0]'.format(target, target_max),
                                  elevationScale=0.3,
                                  pickable=True,
                                  tooltip=["정류장명", target]))
        m.show()
draw_station_usage(df_usage_m)

In [ ]:
위에서부터 차례대로, 승차, 하차, 환승하는 정류장을 시각화한 것입니다.
다음과 같은 사실들을 알 수 있습니다.

전체적인 이용량이 화성시의 동쪽에 매우 높은 것을 알 수 있습니다.
출근시간에 승차지점과 하차지점이 극단적으로 나뉘어져 있습니다.
환승하는 정류장은 더 압도적으로 편항되어 있습니다.
이번에는 각 이용별로, 주요 정류장이 어딘지 살펴보겠습니다.

In [ ]:
topn = 10

colors = ['blue', 'orange', 'green']
figures = []
for i, target in enumerate(["승차", "하차", "환승"]):
    df_target = df_usage_m.groupby("정류장명")[target].sum().sort_values(ascending=False).iloc[:topn]
    df_target = df_target.sort_values()
    figure = df_target.iplot(kind='barh', title="출근시간 {} top{}".format(target, topn), 
                             color=colors[i], asFigure=True)
    figures.append(figure)

draw_subplots(figures, (1, 3))

In [ ]:
예상했던 대로, 주거지역(아파트, 주거동네 등)에 주로 승차하고,
산업/상업지역(병점역 일대, IT단지)에서 주로 하차하는 형태입니다.

환승의 형태는 각 소규모 지역별 중심 스팟이 있으며, 해당 스팟에서 주로 이뤄지는 편입니다.
눈으로 직접 세보면, 대략 화성시 내에 12~13군데 정도의 스팟들이 있습니다.

퇴근시간

In [ ]:
df_usage_d = df_dinner.groupby(['표준정류장ID', '정류장명', 'lon', 'lat'])[['승차', '하차', '환승', '이용']].sum().reset_index()
df_usage_d.shape
df_usage_d.head()
draw_station_usage(df_usage_d)

In [ ]:
출근시간과 반대되는 형태를 보입니다.
역시 승차와 하차가 극단적으로 차이가 나는 정류장들이 많이 보입니다.

In [ ]:
topn = 10

colors = ['blue', 'orange', 'green']
figures = []
for i, target in enumerate(["승차", "하차", "환승"]):
    df_target = df_usage_d.groupby("정류장명")[target].sum().sort_values(ascending=False).iloc[:topn]
    df_target = df_target.sort_values()
    figure = df_target.iplot(kind='barh', title="퇴근시간 {} top{}".format(target, topn), 
                             color=colors[i], asFigure=True)
    figures.append(figure)

draw_subplots(figures, (1, 3))

In [ ]:
이용 기준 topn 정류장
이번에는 이용량 기준으로 상위에 속하는 정류장들을 뽑아낸 후,
해당 정류장들이 어떻게 주로 이용되는지 출퇴근 시간별로 살펴보겠습니다.

In [ ]:
topn = 10
figures = []

for df_target, time in zip([df_usage_m, df_usage_d], ["출근", "퇴근"]):
    df_target = df_target.groupby("정류장명")[['승차', '하차', '환승', '이용']].sum()
    df_target = df_target.sort_values('이용', ascending=False).iloc[:topn]
    df_target = df_target.sort_values('이용')
    fig = df_target[['승차', '하차', '환승']].iplot(kind='barh', 
                                                barmode='stack',
                                                title="{}시간 이용 기준 top{} 정류장".format(time, topn),
                                                asFigure=True)
    if time == "퇴근":
        fig.plotly_update({'showlegend':False})
    figures.append(fig)

draw_subplots(figures, (1, 2))

In [ ]:
먼저, 출퇴근 시간에 이용량이 높은 정류장들은 어느정도 고정적입니다.
또한, 정류장들의 이용 형태를 보면, 승하차 차이가 뚜렷한 정류장이 있는 반면,
승하차 비율이 비슷한 정류장이 있음을 알 수 있습니다.

승하차 중심에 따라 정류장을 분류해볼 수 있지 않을까?
위의 아이디어를 연장하여, 다음과 같은 생각을 해볼 수 있습니다.

출퇴근 시간에, 승하차 또는 환승이 압도적으로 많이 일어나는, 일종의 쏠림현상이 있는 정류장은 화성시에 얼마나 있을까?
또, 이런 이용 형태 중, 어떤 것이 더 비율이 많을까?

따라서, 각각의 정류장 이용형태의 비율을 먼저 살펴보겠습니다.

In [ ]:
# 유의미한 이용비율을 위해, 너무 이용이 작은 정류장은 집계하지 않겠습니다.
threshold = 50

# 출근시간
pvt_m = df_morning.groupby('정류장명')[['승차', '하차', '환승', '이용']].sum()
pvt_m = pvt_m[pvt_m['이용'] > threshold]
pvt_m = pvt_m.div(pvt_m['이용'], axis=0)
pvt_m = pvt_m.drop('이용', axis=1)

# 퇴근시간
pvt_d = df_dinner.groupby('정류장명')[['승차', '하차', '환승', '이용']].sum()
pvt_d = pvt_d[pvt_d['이용'] > threshold]
pvt_d = pvt_d.div(pvt_d['이용'], axis=0)
pvt_d = pvt_d.drop('이용', axis=1)

pvt_d.head()

In [ ]:
fig1 = pvt_m.iplot(kind='hist', title="출근시간 이용형태 비율 분포", asFigure=True, )
fig2 = pvt_d.iplot(kind='hist', title="퇴근시간 이용형태 비율 분포", asFigure=True, )
fig2.plotly_update({'showlegend':False})

draw_subplots([fig1, fig2], shape=(1,2))

In [ ]:
위 분포를보고 다음과 같이 해석할 수 있습니다.

출근시간의 경우, 그래도 승차비율이 높은 정류장이 많습니다.
한편, 승차한 사람은 하차해야 하는데, 하차비율이 높은 정류장은 반면 높지 않습니다.
즉, 많은 정류장에서 승차하는 사람의 비율이 더 많지만, 하차하는 사람들의 비율이 많은 곳은 많지 않습니다.
일터에 가기위해 여러 주거단지에서 출근하는 양상을 생각해보면, 상식적입니다.
퇴근시간의 경우, 분포도 이와 반대고, 해석도 반대입니다.
한편, 환승분포는 그다지 달라지지 않습니다. 즉, 출퇴근시간이 바뀌어도 환승하는 정류장들은 고정되어 있습니다.

In [ ]:
pvt_m.std()
df_rushour = df_usage[df_usage['시간대'].isin([7,8,9,17,18,19])]
pvt = df_rushour.pivot_table(index=['표준정류장ID'], 
                             columns='시간대', 
                             values=['승차', '하차', '환승'], 
                             aggfunc='sum', fill_value=0)

In [ ]:
def draw_diff(times, pvt):

    pvt = (pvt['승차'] - pvt['하차'])[times].sum(axis=1).reset_index()
    pvt = pd.merge(pvt, df_rushour[['표준정류장ID', '정류장명', 'lat', 'lon']], on='표준정류장ID', how='left').drop_duplicates()
    pvt.rename(columns={0:"diff"}, inplace=True)
    
    threshold = 0
    get_in = pvt[pvt['diff'] > threshold]
    get_out = pvt[pvt['diff'] < -threshold]
    get_out['diff'] = abs(get_out['diff'])

    data = {}
    for usage_type, name in zip([get_in, get_out], ['승차', '하차']):
        data[name] = []

        for i, row in usage_type.iterrows():
            data[name].append({
                "coord": row[['lon', 'lat']].values.tolist(),
                "diff": row['diff'],
                "정류장명": row['정류장명']
            })
        
        
    m = deckgl.Map(**view_options)

    max_value = get_in['diff'].max()
    m.add(deckgl.GridCellLayer(data['승차'],
                              cellSize=70,
                              getPosition='obj => obj.coord',
                              getElevation='obj => obj.{}'.format('diff'),
                              getColor='obj => [0, 232*obj.{}/{}, 0]'.format('diff', max_value),
                              elevationScale=0.3,
                              pickable=True,
                              tooltip=["정류장명", "diff"]))

    max_value = get_out['diff'].max()
    m.add(deckgl.GridCellLayer(data['하차'],
                              cellSize=70,
                              getPosition='obj => obj.coord',
                              getElevation='obj => obj.{}'.format('diff'),
                              getColor='obj => [232*obj.{}/{}, 0, 0]'.format('diff', max_value),
                              elevationScale=0.3,
                              pickable=True,
                              tooltip=["정류장명", "diff"]))
    m.show()

In [ ]:
#출근시간
draw_diff([7,8,9], pvt)
#퇴근시간
draw_diff([17, 18, 19], pvt)

In [ ]:
어떤 노선을 주로 이용할까?
이용량 분포

In [ ]:
figures = [
    draw_pivot(df_morning, '노선명', '이용', 'hist', "출근시간 노선 이용량 분포", xTitle="이용량", asFigure=True),
    draw_pivot(df_dinner, '노선명', '이용', 'hist', "퇴근시간 노선 이용량 분포", xTitle="이용량", asFigure=True)
]

draw_subplots(figures, (1, 2))

In [ ]:
# topn 노선
# 시각화 툴인 plotly 내부의 버그문제로, 노선 앞에 문자열을 붙여줘야 합니다.
df_morning['노선명'] = df_morning['노선명'].map('노선 {}'.format)
df_dinner['노선명'] = df_dinner['노선명'].map('노선 {}'.format)

topn = 10
figures = [
    draw_pivot(df_morning, '노선명', '이용', 'barh', "출근시간 노선 이용량 top{}".format(topn), 
               topn=topn, xTitle="이용량", asFigure=True),
    draw_pivot(df_dinner, '노선명', '이용', 'barh', "퇴근시간 노선 이용량 top{}".format(topn), 
               topn=topn, xTitle="이용량", asFigure=True)
]

draw_subplots(figures, (1, 2))

In [ ]:
출퇴근 시간 top10 노선은 거의 같습니다.
일단, 가장 많이 이용되는 708번 노선이 어떻게 사용되는지 보겠습니다.

출근시간

In [ ]:
def draw_route_bar(route_name, df):
    grp_cols = ['노선명', 'lon', 'lat', '정류장명', '정류장순번']
    df_route = df.groupby(grp_cols)[['승차', '하차', '환승', '이용']].sum().reset_index()
    df_route = df_route[df_route['노선명']==route_name]
    df_route = df_route.sort_values('정류장순번')
    df_route[['정류장명', '승차', '하차', '환승']].set_index('정류장명').iplot(kind='bar', title=route_name)

In [ ]:
draw_route_bar('노선 708', df_morning)

In [ ]:
def draw_route_map(route_name, df, buildings=False):
    # 해당 노선의 정보를 가져옵니다.
    
    grp_cols = ['노선명', 'lon', 'lat', '정류장명', '정류장순번']
    df_route = df.groupby(grp_cols)[['승차', '하차', '환승', '이용']].sum().reset_index()
    df_route = df_route[df_route['노선명']==route_name]
    df_route = df_route.sort_values('정류장순번')
    
    # 데이터를 시각화하기 위한 형태로 만듭니다.
    path_data = [{
        'path': [coord for coord in df_route[['lon', 'lat']].values.tolist()],
        'name': '노선 708'
    }]

    
    colors = [[0, 153, 255], [255, 153, 51], [51, 204, 51]]
    station_data = {}
    for i, usage in enumerate(['승차', '하차', '환승']):
        station_data[usage] = []

        for _, row in df_route.iterrows():
            station_data[usage].append({
                'coord': np.add(row[['lon', 'lat']].values, [i*0.0003, 0]).tolist(),
                'value': row[usage],
                '정류장명': row['정류장명'],
                'color': colors[i],
                '정류장순번': row['정류장순번']
            })

    station_meta = []
    for _, row in df_route.iterrows():
        station_meta.append({
            'coord': np.add(row[['lon', 'lat']].values, [0.0003, 0]).tolist(),
            '정류장명': row['정류장명'],
            '정류장순번': row['정류장순번'],
            '승차': row['승차'],
            '하차': row['하차'],
            '환승': row['환승']
        })
        
        
    # 시각화 합니다.
    view_options['center'] = df_route[['lon', 'lat']].mean().tolist()

    m = deckgl.Map(**view_options)

    # 노선 추가
    m.add(deckgl.PathLayer(path_data,
                           getWidth=50, 
                           getColor=[255,223,0]))
    # 노선 위 정류장 추가
    for k, data in station_data.items():
        m.add(deckgl.GridCellLayer(data,
                                   id=k,
                                   cellSize=20,
                                   elevationScale=1,
                                   getPosition='obj => obj.coord',
                                   getElevation='obj => obj.value',
                                   getColor='obj => obj.color'))
    # 각 정류장 메타데이터 추가
    m.add(deckgl.GridCellLayer(station_meta,
                               id='meta',
                               cellSize=20,
                               elevationScale=5,
                               getPosition='obj => obj.coord',
                               getElevation=0,
                               pickable=True,
                               tooltip=["정류장명", "정류장순번", "승차", "하차", "환승"]))

    m.show(buildings=buildings)

In [ ]:
draw_route_map('노선 708', df_morning, buildings=True)

In [ ]:
동쪽의 주거지역을 쭉 지나, 병점 사거리에서 다시 돌아가는 노선입니다.

나머지 노선들도 살펴보겠습니다.

In [ ]:
draw_route_map('노선 701', df_morning, buildings=True)
draw_route_map('노선 34-1', df_morning, buildings=True)
draw_route_map('노선 34', df_morning, buildings=True)
draw_route_map('노선 92-1', df_morning, buildings=True)